.header{
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-image: linear-gradient(0 ,#fe6433 , #f53e2d);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: inline-flex;
    
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notyfi:hover .header__notify{
    display: block;
    z-index: 1;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover
 {  
      cursor: pointer; /*con trỏ chuột hình bàn tay */
    color: rgba(255, 255, 255, 0.7);
}



.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    
}
.header__navbar-icon-link{
    color: var(--white-color);
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-poiter{
    cursor: text;
    color: var(--white-color);
    padding-right: 5px;
}
/* nguoi dung */
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
    
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    width: 150px;
    top: 118%;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-item{
    text-decoration: none;
    
}

.header__navbar-user-item a{
     text-decoration: none; /*bo gach chan */
     color: var(--text-color);
     font-size: 1.4rem;
     padding:10px 16px;
     display: block;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius:2px ;
    border-top-right-radius:2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius:2px ;
    border-bottom-right-radius:2px;
}


.header__navbar-user-item a:hover{
    background-color: #fafafa;
    color: rgb(45, 186, 73);
}


.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -29px;
    right: 4px;
    z-index: -1;
}
.header__navbar-user-menu::after{
    content: "";
    width: 151px;
    height: 20px;
    position: absolute;
    top: -15px;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
    animation: fadeIn ease-in 0.2s;
}

/* header qr code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s;
    z-index: 1;
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top: -16px;
}

.header__qr-img{
    width: 100%;

}

.header__qr-app{
    display: flex;
    justify-content: space-between;

}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header_qr-download-img{
    height: 16px;
}

/* header notify */
.header__notify{
    z-index: 2;
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100%-20px) top ;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity,transform;
    display: none;
    border-radius: 2px;
}

.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -29px;
    right: 4px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -16px;
    width: 90px;
    height: 20px;
    
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.07);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    

}

.header__notify-img{
    width: 48px;
    object-fit: contain;
    
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* authen modal */
.auth-from{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.aurt-form__container{
    padding: 0 32px;
}

.auth-from__header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 12px;
   margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

/* .auth-from__form{
    
} */

.auth-from__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-from__input:focus{
    border-color: #888;

}

.auth-from__aside{
    margin-top: 18px;
    padding: 0 12px;

}

.auth-from__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-from__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
/* btn dang nhap,dang ki */

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;

}

.auth-form__controls-back{
    margin-right: 8px;
    background-color: white;
}
/* dieu khoan */

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color:#3a5a98;
    color: var(--white-color);

}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color:var(--white-color);
   
}

.auth-form__socials-title{
    margin: 0 24px;
}

.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}

/* dang nhap */
.auth-from__help{
    display: flex;
    justify-content: flex-end;
}

.auth-from__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-from__help-saparate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -4px 16px 0;
}

.auth-from__help-forgot{
    color: var(--primary-color);
}

/* header with search */
.header-with-search{
  height:   var(--header-with-search-height) ;
  display: flex;
  align-items: center;
  padding: 0 8px;
  
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
    color: var(--white-color);
}

.header__search{
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}


.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;  
}

.header__cart-notice{
    position: absolute;
    background-color: var(--white-color);
    padding: 2px 6px;
    line-height: 1.4rem;
    color: var(--primary-color);
    font-size: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: -2px;
    right: -7px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 9px);
    right:-32px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    top: -30px;
    right: 32px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-width: 20px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
   
}

.header__cart-list-no-cart .header__cart-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list-no-cart{
    padding: 24px 0;
}

.header__cart-no-cart-img{
    width: 30%;
    display: none;
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--text-color);
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #666;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #656363;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;   
    width: 60px; 
    outline: none;
}

.header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: white;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 141%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
    position: absolute;
}

.header__search-option-item{
    background-color: var(--white-color);
    
    padding: 8px 8px; 
   
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;

}

.header__search-option-item--active i{
    display: inline-block;
}

/* search history */
.header__search-input:focus ~ .header__search-history{
    display: block;
}


.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    z-index: 1;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(209, 206, 206);
    display: none;
    overflow: hidden;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* giỏ hàng có sản phẩm */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height:30vh;
    overflow-y: auto;
}
.header_-cart-item{
    display: flex;
    padding: 10px 0;
}

.header_-cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 0 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-color);
    margin-top: 0px;
    width: 195px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

 

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);  
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-view-cart{
    float: right;
    margin: 0px 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #f05d41;
}

/* app container */
.app__container{
    margin-top: 120px;
    background-color: #f5f5f5;
}

.app__content{
    padding: 36px 0;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    margin: 0;
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 400;
    padding: 12px 16px ;
    text-transform: uppercase;
    
}

.catenory-list{
    list-style: none;
    padding: 0 0 8px 0;
}

.catenory-item-active .catenory-item__link{
    color: var(--primary-color);
}
.catenory-item{
    position: relative;
    
}

.catenory-item:first-child::before{
    display: none;
}
.catenory-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    right: 0;
    left: 20px;
    right: 20px;
}


.catenory-item__link{
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 20px;
    /* transition: right linear 0.1s;  
    right: 0; */      /*  chay thut dong vao */
}

.catenory-item__link:hover{
    /* right: -4px; */
    color: var(--primary-color);
}

/* home sort + filter */
.home-filter{
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: auto;
    
}

.home-filter__laybel{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    background-color: var(--white-color);
    width: 76px;
    height: 36px;
    display: flex;
    
}

.home-filter__page-btn{ 
    display: flex;
    text-decoration: none;
    flex: 1;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
    
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #cccccc;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}

/* product item  */
.home-product-item{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    background-color: var(--white-color);  
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;
    box-shadow: 0 1px 2px 0 rgb(0 ,0 , 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    /* lam box chuyen dong len tren */
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0 ,0 , 0, 0.5);
}



.home-product-item__img{
    padding-top: 100%;
    background-size: contain;
    /* background-position: center; */
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 5px 10px;
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__information{
    padding: 20px 0;
    display:flex; 
    align-items: baseline;
    flex-wrap: wrap;  
}

.home-product-item__price{
    display: flex;
    margin-left: 10px;
   color: var(--primary-color);
   font-size: 1.8rem;
   padding: 0 45px 0 0; 
}

.home-product-item__sold{
    margin:0 0 0 10px;
    font-weight: 400;
    color: #959595;
    font-size: 1.2rem;
}

.home-product-item__favorite{

    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: currentColor;
    line-height: 1.4rem;
    padding: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} 

.home-product-item__favorite span{
    color: var(--white-color); 
}
.home-product-item__favorite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor ;
    border-left: 3px  solid transparent;
    filter: brightness(60%);

}

.home-product-item__sale-off{
    position: absolute;
    top:0px;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 60,0.94 );
    

}

.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    top:5px;
   
}

.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top:7px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 60,0.94 ) transparent rgba(255, 216, 60,0.94 );
}



.home-product__pagination{
   margin: 48px 0 32px 0;
}
/* footer */
.footer{
    padding-top: 20px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer-item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 8px 0;
}
.footer-item__link:hover{
    color: var(--primary-color);
}

.footer__item-icon{
    margin: -1px 8px 0 0;
    font-size: 1.6rem;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img{
    height: 20px;
}

/* footer__bottom */
.footer__bottom{
    padding: 24px;
    background-color: #f5f5f5;
    margin-top: 38px;
}

.footer__text{
    margin: 0;
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}
.footer__text-2{
    margin-bottom: 20px;
}

.footer__policy{
    text-align: center;
}
.footer__policy-1{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 0 26px 0 26px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}
.footer__policy-12{
    border: 0;
}
.footer__registered-link{
    display: flex;
    justify-content: center;
    margin: 36px 0 12px 0;
}
.footer__registered-img{
    width: 150px;
}


